
@{
    ViewBag.Title = "AltaCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>AltaCliente</h2>
<form method="post" action="Guardar">
    <input name="nombre" />
    <input name="apellido" />
    <input type="submit" value="Aceptar" />
</form>
